PYTHONUNBUFFERED=0
REDASH_LOG_LEVEL=INFO
REDASH_REDIS_URL={{ redash_redis_url }}
POSTGRES_PASSWORD={{ redash_db_password }}
REDASH_COOKIE_SECRET={{ redash_cookie_secret }}
REDASH_SECRET_KEY={{ redash_secret_key }}
REDASH_DATABASE_URL={{ redash_database_url }}